body {
  margin: 0;
  padding: 0;
}
#app {
  background-color: rgb(52, 63, 53);
  padding: 1%;
  margin: 0;
  box-sizing: border-box;
}
.landscape #app {
  height: clamp(100svh, 100dvh, 100lvh);
  width: 100dvw;
}
.portrait #app {
  height: clamp(100svh, 100dvh, 100lvh);
  width: 100dvw;
}
.settings-icon:focus-within {
  background-color: brown;
}
.settings-icon {
  min-height: 0;
  min-width: 0;
  font-size: 3em;
  border: 1px solid grey;
  color: darkgrey;
  width: 100%;
  display: flex;
  place-content: center;
  place-items: center;
}

.rune-custom-name {
  font-size: xx-large;
  text-align: center;
  color: silver;
  margin-bottom: 1rem;
}

.portrait .rune-picker {
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}
.portrait .map-display {
  margin: 0 auto;
  display: grid;
  place-content: center;
  place-items: center;
  height: 100%;
  max-width: clamp(50%, 100%, 100dvw);
  grid-template-rows: 20% 1fr 8%;
}
.portrait .picked-row {
  gap: 2%;
  margin-top: 3em;
  display: flex;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  place-items: space-evenly;
}
.portrait .rune-button {
  height: 100%;
  width: 100%;
}

.landscape .rune-picker {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 50% 50%;
}
<<<<<<< Updated upstream
.landscape .rune-image {
  height: 100%;
=======
.landscape .rune-button {
  height: 100%;
}
.landscape .picked-row .rune-button {
  height: 30%;
>>>>>>> Stashed changes
}
.landscape .map-display {
  margin: 0 auto;
  display: grid;
  place-content: center;
  place-items: center;
  width: 100%;
  height: 100%;
  max-width: clamp(50%, 100%, 100dvw);
  grid-template-columns: 20% 1fr 8%;
}

.landscape .picked-row {
  gap: 2%;
  display: flex;
  place-content: space-evenly;
  flex-direction: column;
  height: 100dvh;
  width: 100%;
  min-height: 0;
  min-width: 0;
  box-sizing: border-box;
}
.rune-picker {
  transition: 200ms all;
  height: 100%;
  width: 100%;
  display: grid;
  gap: 2%;
  place-items: center;
}
.portrait .picker-wrapper {
  transition: 200ms all;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: min-content 1fr;
  place-items: center;
}
.landscape .picker-wrapper {
  transition: 200ms all;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: min-content 1fr;
  place-items: center;
}
.rune-button[data-selected="true"] {
  background-color: darkolivegreen;
}

.rune-button {
  min-width: 0;
  width: 100%;
  box-sizing: border-box;
  user-select: none;
  background-color: rgba(0, 0, 0, 0.495);
  border: 0.2em solid silver;
  border-radius: 10%;
  display: grid;
  place-content: center;
  place-items: center;
}
.rune-button img {
  display: block;
  max-width: 80%;
  pointer-events: none;
  filter: brightness(300%);
}
.picked-row .rune-button img {
  pointer-events: none;
  filter: brightness(300%);
  min-width: 0;
  min-height: 0;
}

.map-svg {
  min-height: 0;
  min-width: 0;
  height: 100%;
  width: 100%;
}
.clear-runes {
  padding: 0.2em;
  background-color: rgb(118, 118, 118);
  font-size: 5dvh;
  color: blanchedalmond;
  height: 100%;
  width: 100%;
}
